[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pytest = "*"
scikit-learn = "==1.2.2"
numpy = "==1.25.2"
cloudpickle = "==2.2.1"
xgboost = "==2.0.3"

[dev-packages]

[requires]
python_version = "3.9"
